<%= button_to ('New'), new_time_tables_path, method: :get, :class => "button" %>


<table>
  <tr>
    <th></th>
    <th>Montag</th>
    <th>Dienstag</th>
    <th>Mittwoch</th>
    <th>Donnerstag</th>
    <th>Freitag</th>
    <th>Samstag</th>
    <th>Sonntag</th>
  </tr>

  <tr>
    <td>1. Stunde</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
    <td>Test</td>
  </tr>
</table>

<textarea>
  fgadgdfgdgdfdgdg
</textarea>
