// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front-heading {
  text-align: center;
}

.front-img {
  height: 20%;
  width: 40%;
  float: right;
  margin-right: 150px;
  margin-top: 50px;
}

.feature-list {
  margin-top: 225px;
  margin-left: 150px;
}

